#title {
  background: lime;
}

#content {
  background: white;
  color: blue;
  width: 80px;
}

.btbackground {
  background: yellow;
}

#input_content {
  background: pink;
  border-color: yellow;
}

#input_content:hover {
  background: violet;
  border-color: brown;
}

.bt {
  background: white;
  border-color: white;
  text-decoration: none;
}
.bt:hover {
  font-weight: bold;
  color: black;
  background: violet;
}

button {
  color: green;
  height: 30px;
  font-size: 20px;
}
